DOMAIN_NAME=https://rtektas.42.fr
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
WP_TITLE=Inception
WP_ADMIN_USER=inception_owner
WP_ADMIN_EMAIL=owner@rtektas.42.fr
WP_USER=author42
WP_USER_EMAIL=author@rtektas.42.fr
